@tailwind base;
@tailwind components;
@tailwind utilities;


/* Optional: custom global styles */
body {
font-family: 'Inter', sans-serif;
background-color: #ffffff;
}

@layer utilities {
   @keyframes fadeIn {
    0% { opacity: 0; transform: translateY(10px); }
    100% { opacity: 1; transform: translateY(0); }
   }

  @keyframes slideUp {
     0% { transform: translateY(40px); opacity: 0; }
     100% { transform: translateY(0); opacity: 1; }
    }

.animate-fadeIn {
    animation: fadeIn 1.5s ease-in-out;
    }
.animate-slideUp {
     animation: slideUp 1.2s ease-out;
   } 
}